/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/api-docs/
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea/codeStyles/codeStyleConfig.xml
/.idea/FortunaTrading.iml
/.idea/modules.xml
/.idea/php.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_14_09_2020__17_20__Default_Changelist_.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/laravel-plugin.xml
/public/company/
/public/post/
/.idea/dataSources/ee2d83ed-f3b5-42d8-806b-bfcc2f9f1c0f.xml
/.idea/dataSources/ee2d83ed-f3b5-42d8-806b-bfcc2f9f1c0f/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_09_2020__09_01__Default_Changelist_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_09_2020,_09_01_[Default_Changelist]/shelved.patch
/.idea/dataSources/968f63a0-6d95-4e7a-8507-69aec4f0523e/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_09_2020,_09_01_[Default_Changelist]/shelved.patch
/.idea/dataSources/968f63a0-6d95-4e7a-8507-69aec4f0523e.xml
/.idea/*
